<footer class="site-footer mt-auto py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="/help">Help Centre</a></li>
          <li><a href="/safety">Safety information</a></li>
          <li><a href="/cancellation">Cancellation options</a></li>
          <li><a href="/report-concern">Report a concern</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="/about">About us</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/press">Press</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="/terms">Terms and Conditions</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/cookies">Cookie Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <!-- ICONS ADDED HERE -->
          <li><i class="fa-solid fa-location-dot"></i> Mumbai, India</li>
          <li><i class="fa-solid fa-envelope"></i> contact@wonderlust.com</li>
          <li><i class="fa-solid fa-phone"></i> +91 12345 67890</li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="footer-bottom d-flex justify-content-between align-items-center">
      <div class="f-info-brand">&copy; 2025 WonderLust Pvt. Ltd</div>
      <div class="f-info-socials">
        <a href="https://www.facebook.com" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.x.com" target="_blank"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
        <a href="https://www.pinterest.com" target="_blank"
          ><i class="fa-brands fa-pinterest"></i
        ></a>
        <a href="https://www.linkedin.com" target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
</footer>

